@import 'tailwindcss';

:root {
    --first-color: skyblue;
    --secund-color: #eeeeff;
    --text-color: #303040;
}

.dark {
    --first-color: #56a5dd;
    --secund-color: #0c1117;
    --text-color: #d0d0c0;
}

@theme inline {
    --color-first-25: hsl(from var(--first-color) h s calc(l - 10));
    --color-first-50: hsl(from var(--first-color) h s calc(l - 5));
    --color-first-100: hsl(from var(--first-color) h s l);
    --color-first-200: hsl(from var(--first-color) h s calc(l + 5));
    --color-first-400: hsl(from var(--first-color) h s calc(l + 10));

    --color-secund-25: hsl(from var(--secund-color) h s calc(l - 10));
    --color-secund-50: hsl(from var(--secund-color) h s calc(l - 5));
    --color-secund-100: hsl(from var(--secund-color) h s l);
    --color-secund-200: hsl(from var(--secund-color) h s calc(l + 5));
    --color-secund-400: hsl(from var(--secund-color) h s calc(l + 10));

    --color-text-25: hsl(from var(--text-color) h s calc(l - 10));
    --color-text-50: hsl(from var(--text-color) h s calc(l - 5));
    --color-text-100: hsl(from var(--text-color) h s l);
    --color-text-200: hsl(from var(--text-color) h s calc(l + 5));
    --color-text-400: hsl(from var(--text-color) h s calc(l + 10));

    --shadow-base: 0 3px 0 var(--color-first-25);
    --shadow-secund: 0 6px 0 var(--color-first-25);
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .wrapper {
        position: relative;
        min-height: 100vh;
        background-image: linear-gradient(to bottom, var(--color-first-400), var(--secund-color));
    }
}

@layer components {
    .btn {
        @apply -translate-y-0.75 cursor-pointer rounded-lg bg-linear-to-br from-first-25 to-first-200 px-8 py-2 text-xl font-semibold text-secund-100 shadow-base transition-all duration-50 hover:not-disabled:-translate-y-1.5 hover:not-disabled:shadow-secund active:not-disabled:translate-none active:not-disabled:shadow-none dark:from-first-100 dark:to-first-400;
    }
}

@layer utilities {
    .animate-fade-in {
        animation: fade-in 100ms ease-in-out forwards;
    }

    .animate-fade-out {
        animation: fade-out 100ms ease-in-out forwards;
    }

    .animate-explosion {
        animation: explosion 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }

    .animate-implosion {
        animation: implosion 250ms ease forwards;
    }
}

@utility grid-task-lg {
    grid-template: auto 1fr / 1fr auto auto;
}

@utility grid-task-sm {
    grid-template: repeat(3, auto) / 1fr auto;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes explosion {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes implosion {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

@custom-variant dark (&:where(.dark, .dark *));
